name: rolling

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04]
      fail-fast: false
    steps:
      - name: Setup ROS 2
        uses: ros-tooling/setup-ros@v0.7
        with:
          required-ros-distributions: rolling
          
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: install python dep
        run: |
          python3 -m pip install -r requirements.txt
            
      - name: build and test
        uses: ros-tooling/action-ros-ci@v0.4
        with:
          package-name: vision_system
          target-ros2-distro: rolling
          colcon-defaults: |
            {
              "test": {
                "parallel-workers" : 1
              }
            }

